<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.smartcity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCity"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.GuideActivity" />
        <activity android:name=".ui.activity.AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.NewActivity" />
        <activity android:name=".ui.activity.mine.MeetActivity" />
        <activity android:name=".ui.activity.mine.UpdatePasswordActivity" />
        <activity android:name=".ui.activity.mine.DingdanActivity" />
        <activity android:name=".ui.activity.mine.UserInfoActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.HomeSearchActivity" />
        <activity android:name=".ui.activity.ServerSearchActivity" />
        <activity android:name=".ui.activity.MainActivity" />
    </application>

</manifest>